

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #53caf2;
}
.header{
  display: block;
}
.nav{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nfound{
  display: block;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  margin-bottom: 20px;
   border-radius: 30%;
   transition: transform .8s ease-in;
 }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.footer{
  text-align: center;
  margin-top: 8px;
}

.centered-t{
  margin: 0 auto;
  width: 50%
}

/* NHL TEAM CLASSES */
.ANA{
/* Black #010101 */
/* Metallic Gold #B9975B */
/* Orange #FC4C02 */
}
.ARI{
/* Brick Red #6F263D */
/* Sand #DDCBA4 */
/* Purple #5F259F*/
}
.BOS{
/* Black #010101 */
/* Gold #FDB717 */
}
.BUF{
/* Royal Blue #003087 */
/* Gold #FDB717 */
/* White #FFFFFF */
}
.CAR{
  /* Red #C8102E */
  /* White #FFFFFF */
  /* Gray #A2AAAD*/
}
.CBJ{
/* Union Blue #041E42 */
/* Goal Red #C8102E */
/* Capital Silver #A2AAAD */
}
.CGY{
/* Red #C8102E */
/* Yellow #F1BE48 */
/* White #FFFFFF */
}
.CHI{
/* Red #C8102E */
/* White #FFFFFF */
/* Black #010101 */
}
.COL{
 background-image: '../images/COL.jpeg';
 /* Burgundy #8A2432 */
 /* Blue #236093 */
 /* Silver #C2C6C9 */
}
.DAL{
/* Victory Green #00823E */
/* Black #010101 */
/* Gray #A2AAAD*/
}
.DET{
/* Red #C8102E */
/* White #FFFFFF */
}
.EDM{
/* Royal Blue #003087 */
/* Orange #FC4C02 */
/* White #FFFFFF */
}
.FLA{
/* Red #C8102E */
/* Blue #041E42 */
/* Gold #B9975B */
/* White #FFFFFF */
}
.LAK{
  /* Black #010101 */
  /* White #FFFFFF */
  /* Gray #A2AAAD*/
}
.MIN{

}
.MTL{

}
.NJD{

}
.NSH{

}
.NYI{

}
.NYR{

}
.OTT{

}
.PHI{

}
.PIT{

}
.SEA{

}
.SJS{

}
.STL{

}
.TBL{

}
.TOR{

}
.VAN{

}
.VGK{

}
.WPG{

}
.WSH{

}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

