a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #53caf2;
}
.header {
  display: block;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nfound {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 30%;
  transition: transform 0.8s ease-in;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul{
  list-style-type: none;
  line-height: 2;
  text-align: center;
  font-size: medium;
}

.footer {
  text-align: center;
  margin-top: 8px;
}

.centered-t {
  margin: 0 auto;
  width: 50%;
}

.team-container{
  display: flex;
  
}

.puck{
  background-image: url('../src/images/home-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.puck-card{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(225, 232, 223, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 1.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.puck-card:hover {
  background-color: rgba(255, 255, 255, 0.7); 
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5); 
}

.About-Tiles {
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  padding: 16px;
  display: flex;
  gap: 16px;
}

.About-Tiles > .puck-card {
  width: 100%; /* Make each card take full width */
}

/* NHL TEAM CLASSES */
.Team-Card {
  /* position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 5%;
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(231, 224, 224, 0.796);
  padding: 10px;
  text-align: center;
  border-radius: 25px; */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 5%;
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(231, 224, 224, 0.796);
  /* padding: 10px; */
  text-align: center;
  border-radius: 25px;
}





.ANA {
  /* Black #010101 */
  /* Metallic Gold #B9975B */
  /* Orange #FC4C02 */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.ARI {
  /* Brick Red #6F263D */
  /* Sand #DDCBA4 */
  /* Purple #5F259F*/
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.BOS {
  /* Black #010101 */
  /* Gold #FDB717 */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.BUF {
  /* Royal Blue #003087 */
  /* Gold #FDB717 */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.CAR {
  /* Red #C8102E */
  /* White #FFFFFF */
  /* Gray #A2AAAD*/
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.CBJ {
  /* Union Blue #041E42 */
  /* Goal Red #C8102E */
  /* Capital Silver #A2AAAD */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.CGY {
  /* Red #C8102E */
  /* Yellow #F1BE48 */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.CHI {
  /* Red #C8102E */
  /* White #FFFFFF */
  /* Black #010101 */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.COL {
  background-image: url('../src/images/COL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
  /* background-repeat: no-repeat;
 height: 100vh; /* Set height to 100vh for full window height */
  /* background-size: contain;
 width: 100%; */
  /* Burgundy #8A2432 */
  /* Blue #236093 */
  /* Silver #C2C6C9 */
}
.DAL {
  /* Victory Green #00823E */
  /* Black #010101 */
  /* Gray #A2AAAD*/
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.DET {
  /* Red #C8102E */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.EDM {
  /* Royal Blue #003087 */
  /* Orange #FC4C02 */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.FLA {
  /* Red #C8102E */
  /* Blue #041E42 */
  /* Gold #B9975B */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.LAK {
  /* Black #010101 */
  /* White #FFFFFF */
  /* Gray #A2AAAD*/
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.MIN {
  /* Forest Green #0E4431 */
  /* Iron Range Red #AC1A2E */
  /* Gold #B9975B */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.MTL {
  /* Red #C8102E */
  /* White #FFFFFF */
  /* Blue #001E62 */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.NJD {
  /*  Red #CC0000 */
  /* Black #010101 */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.NSH {
  /* Gold #FFB81C */
  /* Navy Blue #041E42 */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.NYI {
  /* Blue #00468B */
  /* Orange #F26924 */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.NYR {
  /* Blue #0033A0 */
  /* Red #C8102E */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.OTT {
  /* Black #010101 */
  /* Red #C8102E */
  /* Gold #B9975B */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.PHI {
  /* Burnt Orange #D24303 */
  /* Black #010101 */
  /* White #FFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.PIT {
  /* Black #010101 */
  /* Gold #FFB81C */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.SEA {
  /* Deep Sea Blue #001F25 */
  /* Ice Blue #96D8D8 */
  /* Boundless Blue #384F5F */
  /* Shadow Blue #639FB6 */
  background-image: url('../src/images/SEA.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.SJS {
  /* Deep Pacific Teal #006772 */
  /* Black #010101 */
  /*  Burnt Orange #E57200 */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.STL {
  /* Royal Blue # */
  /* Gold #FFB81C */
  /* Navy Blue #041E42 */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.TBL {
  /* Blue #00205B */
  /* White #FFFFFF */
  /* Black #000000 */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.TOR {
  /* Blue #00205B */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.VAN {
  /* Blue #00205B */
  /* Green #007E3A */
  /* White #FFFFFF */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.VGK {
  /* Steel Grey # */
  /* Gold #B9975B */
  /* Red #C8102E */
  /* Black #000000 */
  background-image: url('../src/images/VGK.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.WPG {
  /* Polar Night Blue #041E42 */
  /* Aviator Blue #004A98 */
  /* Silver #A2AAAD */
  /* Red #A6192E */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}
.WSH {
  /* Red #C8102E */
  /* White #FFFFFF */
  /* Blue #041E42 */
  background-image: url('../src/images/');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
